<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- 로고 -->
        <p>
            <a href="{{ url_for('main.main') }}">
                <img src="{{url_for('static', filename='/images/logo.jpg')}}" height="100" width="100">
            </a>
        </p>
        <!-- 제목 -->
        <p>
            <a href="{{ url_for('main.main') }}">
                <h2> 전주 어때 </h2>
            </a>
        </p>
        <!-- 검색 메뉴 -->
        <form action="{{url_for('main.search')}}" method="get">
            <div class="">
                <label for="search_type" class="form_label">검색 메뉴</label>
                <select name="search_type" id="search_type" class="">
                    <option value="name" {% if search_type == 'name' %}selected{% endif %}>상호명</option>
                    <option value="keyword" {% if search_type == 'keyword' %}selected{% endif %}>키워드</option>
                    <option value="address" {% if search_type == 'address' %}selected{% endif %}>주소</option>
                    <option value="sentence" {% if search_type == 'sentence' %}selected{% endif %}>문장</option>
                </select>
                <!-- 키워드 선택 시 선택 가능한 키워드 표시 -->
                <div id="keywordList" style="display: none; margin-top: 10px;">
                    {% block keyword_title %}
                    <strong>키워드를 선택하세요 : </strong>
                    {% endblock %}
                    <ul id="keywordUI">
                        {% for keyword in keyword_list %}
                        <li>
                            <a href="{{ url_for('main.search') }}?search_type=keyword&search_term={{ keyword }}"
                                {% if keyword == search_term %}
                                    style="background-color: #ffdddd; font-weight: bold; color: red;"
                                {% endif %}>
                                {{ keyword }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <script src="{{ url_for('static', filename='js/keyword_select.js') }}"></script>
                <!-- 주소 선택 시 입력 받는 데이터 제한 -->
                <div>
                    <p id="addressHint" style="color: red; display: none;">
                        ※ '덕진구' 또는 '완산구'를 입력해주세요.
                    </p>
                    <script src="{{ url_for('static', filename='js/address_select.js') }}"></script>
                </div>
            </div>
            <!-- 검색바 -->
            <div class="autocomplete_wrapper" id="autocomplete_wrapper">
                <label for="search_term" class="">검색어 입력</label>
                <input type="text" name="search_term" id="search_term" class="" placeholder="검색어를 입력하세요" maxlength="255" 
                 value="{{ search_term | default('') }}" required>
            </div>
            <!-- 검색버튼 -->
            <div class="">
                <button type="submit" class="btn btn_primary">검색</button>
            </div>
        </form>
        <div class="container">
        {# flash에 저장된 내용을 출력 #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash_messages">
                    {% for category, message in messages %}
                    <li class="{{category}}" >{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
		</div>
        {% block contents %}{% endblock %}
        <!-- 맨위로 버튼 -->
        <footer>
            <button id="scrollTopBtn" title="맨 위로 이동">&#8679;</button>
            <script src="{{ url_for('static', filename='js/upbtn.js') }}"></script>
        </footer>
        <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    </body>
</html>