{% extends "layout.html" %}

{% block title %}메인 페이지{% endblock %}

{% block contents %}
    <h4>추천 숙소 리스트</h4>
    <!-- 카테고리 선택 -->
    <div class="category-list">
        {% for cat in ['호텔', '모텔', '펜션'] %}
            <a href="{{ url_for('main.main', category=cat) }}"
            class="category_item {% if selected_category == cat %} selected {% endif %}">
                {{ cat }}
            </a>
        {% endfor %}
    </div>
    <!-- 슬라이더 버튼 -->
    <div class="slider_wrapper">
        <button id="prev_btn" class="slider_btn">←</button>
        <div class="slider_container">
            <div class="slider_track" id="slider_track">
                {% for accommodation in accommodations %}
                <div class="slider_card">
                    <a href="{{ url_for('result.on_result', name=accommodation.name) }}">
                        <img src="{{ accommodation.image_url }}" alt="{{ accommodation.name }}">
                    </a>
                    <h3>{{ accommodation.name }}</h3>
                    <p>⭐ {{ accommodation.rating_score }}점 ({{ accommodation.formatted_rating_count }})</p>
                    <p>{{ accommodation.address }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="next_btn" class="slider_btn">→</button>
    </div>
    <script src="{{ url_for('static', filename='js/slider_btn.js') }}"></script>
{% endblock %}