{% extends "layout.html" %}

{% block title %}검색결과 페이지{% endblock %}

{% block contents %}
    <!-- main.js에서 지도 정보 가져오기 -->
    <script src="{{ url_for('static', filename='js/search_maps.js') }}"></script>
    <!-- Maps API 불러오기 -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg8UOceSAXDR2NnMikougMamOyAxbdRac&callback=initMap"
        async defer>
    </script>
    <script>
        const searchTerm = "{{ search_term }}";  // Flask에서 넘긴 검색어를 JS 변수로 사용
    </script>
    <script src="{{ url_for('static', filename='js/search_maps.js') }}"></script>
    <p>{{ result }}</p>
    <!-- 지도 보여줄 구역 지정 -->
    <div id="map" style="height: 600px;"></div>
    <form action="{{ url_for('result.on_result') }}" method="get">
        검색결과 페이지 기능들
        <input type="hidden" name="search_type" value="{{ search_type }}">
        <input type="hidden" name="search_term" value="{{ search_term }}">
        <button type="submit">상세 페이지로 이동</button>
    </form>
{% endblock %}